body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/BG.png'); /* Ganti dengan jalur yang benar ke gambar latar belakang */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.login-box {
	position: absolute;
	right: 6%;
    width: 300px;
    padding: 40px;
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.login-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.google-btn {
    width: 100%;
    padding: 10px;
    background-color: #DB4437;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn:hover {
    background-color: #CC3B2E;
}

a {
    text-decoration: none;
    color: blue;
}
